allow untrusted_app sunwave_device:chr_file {open read write ioctl}; 
allow untrusted_app sysfs:dir read;
allow untrusted_app sysfs:file { getattr open read };
